@{
    ViewData["Title"] = "Add Data";
}
<h1>@ViewData["Title"]</h1>

<form>
    <label>Text</label>
    <input class="string" name="string" type="text"/>
    <button type="send">Spara</button>
</form>
